<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="common">
        <meta content="text/html;charset=UTF-8" />
	    <link rel="stylesheet" th:href="@{/css/common/sweetalert.css}">
	    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
	    <script th:src="@{/js/common/jquery-3.3.1.min.js}"></script>
	    <script th:src="@{/js/common/vue.min.js}"></script>
	    <script th:src="@{/js/common/md5.js}"></script>
	    <script th:src="@{/js/common/sweetalert.js}"></script>
	    <script th:src="@{/js/common/path.js}"></script>
    </head>
  </html>