<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="common">
        <meta content="text/html;charset=UTF-8" />
	    <link rel="stylesheet" th:href="@{/css/common/sweetalert.css}">
	    <link rel="stylesheet" th:href="@{/css/common/common.css}">
	    <link rel="stylesheet" href="https://unpkg.com/iview/dist/styles/iview.css">
	    <script th:src="@{/js/common/jquery-3.3.1.min.js}"></script>
	    <script th:src="@{/js/common/path.js}"></script>
	    <script th:src="@{/js/common/vue.min.js}"></script>
	    <script th:src="@{/js/common/md5.js}"></script>
	    <script th:src="@{/js/common/sweetalert.js}"></script>
	    <script th:src="@{/js/common/iview.js}"></script>
	    
    </head>
  </html>